services:
  api:
    build: ./CSDLPT_API
    ports:
      - "5057:8080"
    networks:
      - csdlpt_network

  web:
    build: ./CSDLPT_DOAN
    ports:
      - "5000:8080"
    networks:
      - csdlpt_network
volumes:
  db_data_csdlpt:
networks:
  csdlpt_network: